body {
    background-color: #121212; /* Dark background for the entire page */
    color: #ddd; /* Light text color for general readability */
}

a, a:visited {
    color: #4a90e2; /* Adjust this color to match your desired link color */
    text-decoration: none; /*underline; /* or `none` if you prefer no underline */
}


.image-wrapper {
	width: 300px;
	margin: 10px;
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
	display: inline-block;
	vertical-align: top;
	background: #333;
	border-radius: 5px;
	overflow: hidden;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.caption {
	padding: 10px;
	font-size: 14px;
	text-align: center;
	background: #222;
	border-top: 1px solid #444;
	color: #ddd;
	min-height: 100px;
	box-sizing: border-box;
}

.can-expand {
	color: #4a90e2;
	cursor: pointer;
}

.close-btn {
	position: fixed;
	top: 20px;
	right: 40px;
	font-size: 30px;
	color: #ddd;
	cursor: pointer;
	user-select: none;
}

.image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}

#loading {
	display: none;
	text-align: center;
	color: #ddd;
}

#imageContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
	padding: 20px;
}

#lightbox img {
	max-width: 100%;
	max-height: 80vh;
	object-fit: contain;
	border-radius: 8px;
}

#lightbox {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.95);
}

#lightbox .caption {
	color: #ddd;
	background: rgba(0, 0, 0, 1);
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
	word-wrap: break-word;
	max-width: 80%;
	box-sizing: border-box;
	text-align: center;
	border-top: none;
}
